header, footer {
    height: 10%;
    background-color: white;
}

header {
    padding: 24px 48px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.6px;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    opacity: 0.7;
}

textarea {
    resize: none;
}

.todo {
    max-width: 1080px;
    margin: 0 auto;
    padding: 24px 0;
    height: 80%;
    background-color: rgb(250, 250, 250);
}

.width-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.flex-align-left {
    align-items: flex-start;
}

.f-align-bottom {
    align-items: flex-end;
}

.f-space-between {
    justify-content: space-between;
}

.flex-100 {
    flex: 1;
}

.grid {
    display: grid;
}

.big-item {
    grid-column: 1/-1;
}

.small-item {
    grid-column: span 1;
}

.center-text {
    text-align: center;
}

.gap-24 {
    gap: 24px;
}

.gap-36 {
    gap: 36px;
}

.grey-700 {
    color: rgb(125, 125, 125);
}

.p-top-20 {
    padding-top: 20px;
}

.divider {
    width: 100%;
    margin: 24px 0;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 16px;
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal > div {
    width: 400px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}