button {
    background-color: inherit;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button > svg {
    width: 100%;
    height: 100%;
    display: block;
}

button.size-32 {
    width: 32px;
    height: 32px;
}